.cache
#square_equation
*.o
*.a
html
latex
objects.mk
*.html
onegin_out
*.microcpu
disasm.microasm
microasm
microdisasm

microcpu
microgrep
onegin
square_equation
stack_test
tests

!apps/microcpu
!apps/microgrep
!apps/onegin
!apps/square_equation
!apps/stack_test
!apps/tests
